{% extends "base.html.twig" %}

{% block head %}
<script type="text/javascript">
console.log('here')
</script>
{% endblock %}
{% block body %}
<div>
    {{ value }}
    {% for i in range(0, 3) %}
        <div>{{ i }}
            {{ value }}</div>

    {% endfor %}

</div>

{% endblock %}