{% extends "base.html.twig" %}

{% block head %}
    <script type="text/javascript">
        console.log('here')
        const engineList = {{ engineList|json_encode|raw }}
    </script>
{% endblock %}
{% block body %}
    <div>
        {{ value }}
        {% for i in range(0, 3) %}
            <div>{{ i }}
                {{ value }}</div>

        {% endfor %}

        <div class="card">
            <data-table :value="engineList" tablestyle="min-width: 50rem">
                <column field="ENGINE" header="ENGINE"></column>
                <column field="SUPPORT" header="SUPPORT"></column>
                <column field="COMMENT" header="COMMENT"></column>
                <column field="TRANSACTIONS" header="TRANSACTIONS"></column>
            </data-table>
        </div>
    </div>

{% endblock %}
