<html>
    <head>
        {% set assets = container.get("Assets") %}
        {% for jsPath in assets.getJsPaths() %}
            <script type="module" src="{{ jsPath }}"></script>
        {% endfor %}

        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="app">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
