<html>
    <head>
        <script type="text/javascript">console.log('loaded')</script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="app">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
