<html>
    <head>
        {% set assets = container.get("Assets") %}
        {% for cssPath in assets.getCssPaths() %}
            <link rel="stylesheet" type="text/css" href="{{ cssPath }}">
        {% endfor %}
        {% for jsPath in assets.getJsPaths() %}
            <script type="module" src="{{ jsPath }}"></script>
        {% endfor %}

        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="app"> {% block body %}{% endblock %}
            </div>
        </body>
    </html>
